<form [formGroup]="registerForm" (submit)="submit()">
  <p-card>
    <ng-template #title>Ajouter un membre</ng-template>
    <div class="grid">
      <div class="col-6">
        <p-float-label variant="on">
          <input pInputText formControlName="username" />
          <label>Nom d'utilisateur</label>
        </p-float-label>
        <app-form-error [control]="registerForm.get('username')!"></app-form-error>
      </div>
    </div>
    <div class="grid">
      <div class="col-6">
        <p-float-label variant="on">
          <input pInputText formControlName="email" />
          <label>Email</label>
        </p-float-label>
        <app-form-error [control]="registerForm.get('email')!"></app-form-error>
      </div>
    </div>
    <div class="grid">
      <div class="col-6">
        <p-float-label variant="on">
          <input pInputText formControlName="password" />
          <label>Mot de passe</label>
        </p-float-label>
        <app-form-error [control]="registerForm.get('password')!"></app-form-error>
      </div>
    </div>
    <div class="grid">
      <div class="col-6">
        <p-float-label variant="on">
          <input pInputText formControlName="confirmPassword" />
          <label>Confirmez le mot de passe</label>
        </p-float-label>
        <app-form-error [control]="registerForm.get('confirmPassword')!"></app-form-error>
      </div>
    </div>

    <ng-template #footer>
      <p-button
        type="submit"
        
        loadingIcon="pi pi-cog"
        label="Sauver"
      >
      <!--TODO : [disabled]="isLoading"
        [loading]="isLoading" -->
        
      </p-button>
    </ng-template>

  </p-card>
</form>
