<form [formGroup]="registerForm">
  <p-card>
    <ng-template #title>Ajouter un membre</ng-template>
    <div class="grid">
      <div class="col-6">
        <p-float-label>
          <input pInputText formControlName="username" />
          <label>Nom d'utilisateur</label>
        </p-float-label>
      </div>
    </div>
    <div class="grid">
      <div class="col-6">
        <p-float-label>
          <input pInputText formControlName="username" />
          <label>Nom d'utilisateur</label>
        </p-float-label>
      </div>
    </div>
    <div class="grid">
      <div class="col-6">
        <p-float-label>
          <input pInputText formControlName="username" />
          <label>Nom d'utilisateur</label>
        </p-float-label>
      </div>
    </div>
    <div class="grid">
      <div class="col-6">
        <p-float-label>
          <p-select formControlName="username" />
          <label>Nom d'utilisateur</label>
        </p-float-label>
      </div>
    </div>
  </p-card>
</form>
