<div class="main-container">
    <div class="grid m-3">
        <p-card>
            <h2>Participation</h2>
            {{invitationsToDisplay[0].meetingName}}
        </p-card>
    </div>
    <div class="grid m-3">
        
        <p-toolbar class="w-full">
            <ng-template #start>
                <p-button icon="pi pi-plus" class="mr-2" severity="secondary" />
                <p-button icon="pi pi-print" class="mr-2" text severity="secondary" />
                <p-button icon="pi pi-upload" text severity="secondary" />
            </ng-template>
            <ng-template #end>
                <p-iconfield iconPosition="left">
                    <p-inputicon styleClass="pi pi-search" />
                    <input type="text" pInputText  />
                </p-iconfield>
            </ng-template>
            <ng-template #end>
            </ng-template>
        </p-toolbar>
    </div>
    <div class="grid m-3">
        <p-card>
            
            <ng-template #title>
                <h3>Membres</h3>
            </ng-template>
            <ng-template #content>
                <p-table [value]="invitationsToDisplay"
                stripedRows
                [tableStyle]="{'min-width': '50rem'}"
                >
                <ng-template #header>
                    <tr>
                        <th>Nom</th>
                        <th>Email</th>
                        <th>Disponibilité</th>
                        <th>Confirmer</th>
                    </tr>
                </ng-template>
                <ng-template #body let-invitation>
                    <tr>
                        <td>{{invitation.member.username}}</td>
                        <td>{{invitation.member.email}}</td>
                        <td> 
                            
                                <p-tag *ngIf="invitation.availability === 'Pending'" value="En attente" severity="warn" ></p-tag>
                                <p-tag *ngIf="invitation.availability === 'Available'" value="Disponible" severity="success" ></p-tag>
                                <p-tag *ngIf="invitation.availability === 'Unavailable'" value="Non disponible" severity="danger" ></p-tag>
                            
                        <!-- <p-tag  ngIf="invitation.availability === 'Available'" value="Disponible" severity="success" /> -->
                    
                    </td>
                    <td>
                        <div *ngIf="invitation.member.id === loggedMemberId"><p-button label="Disponible" icon="pi pi-check" severity="success" size="small" (onClick)="confirmAvailability(invitation.member.id, invitation.meetingId, 'Available')"></p-button>
                        <p-button label="Non disponible" icon="pi pi-times" severity="danger" size="small" (onClick)="confirmUnavailability(invitation.member.id, invitation.meetingId, 'Unavailable')"></p-button></div>
                        
                    </td>
                    </tr>
                </ng-template>
                </p-table>
            </ng-template>
        
        </p-card>
    </div>
</div>