<div class="sidebar">
  <header class="flex">
    <h1>MusicLab</h1>
    <img src="/music_note_icon.svg" alt="music_note_icon">
    
  </header>
  <nav>
    <ul>
      <li><a routerLink="/groups" routerLinkActive="active">Groupes</a></li>
      <li><a routerLink="/project/create" routerLinkActive="active">Projets</a></li>
      <li>Rencontres</li>
      <li>Messagerie</li>
      <li><a routerLink="/agenda" routerLinkActive="active">Agenda</a></li>
    </ul>
  </nav>
</div>
<div class="main-container">
  <div class="topbar">
    <p-card>
      <p-menubar [model]="items"> 
        <ng-template #end>
          <div class="flex items-center gap-2">
            @if(sessionService.session().isAuthenticated) {
              <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" shape="circle" /><p-button (click)="logout()">Déconnexion</p-button>
            } @else {
              <p-button routerLink="login">Connexion</p-button>
            }
              
          </div>
      </ng-template>
      </p-menubar>
  </p-card>
    <!-- <ul>
      <li>Rémy</li>
      <li><img src="" alt="" /></li>
      @if(sessionService.session().isAuthenticated) {
        <li><button (click)="logout()">Déconnexion</button></li>
      } @else {
        <li><a routerLink="login">Connexion</a></li>
      }
      
      
    </ul> -->
  </div>
  <main>
    <app-event-details></app-event-details>
    <router-outlet></router-outlet>
    <footer>&copy; 2025 - MD</footer>
  </main>
</div>

<p-toast></p-toast>
<p-confirm-dialog></p-confirm-dialog>
